body {
    background-color: lightblue;
    padding: 20px;
}

h1 {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

p {
    font-weight: bold;
    background-color: magenta;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
}